%h1
  Editing group

- form_for(@group) do |f|
  = f.error_messages

  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.submit "Update"

%br

=link_to 'Delete this group', @group, :confirm => 'Are you sure?', :method => :delete
%br
%br
= link_to 'Show', @group
|
= link_to 'Back', groups_path
