%h1
  Group
  =h @group.name

%h2 Users
%ul.no_list
  - for member in @group.members
    %li.user
      = link_to member.login, user_path(member)
      - if is_admin :user => member
        (A)
%br

- if is_member
  %hr
  %h2
    Statistics
  %h3
    Last Week
  = image_tag "/groups/"+@group.id.to_s+"/statistics.png?last_week"
  %br
  %h3
    Last Month
  = image_tag "/groups/"+@group.id.to_s+"/statistics.png?last_month"
  %br
  %h3
    Overall
  = image_tag "/groups/"+@group.id.to_s+"/statistics.png"
  %br
- if is_admin
  = link_to 'Edit group', edit_group_path(@group)
  |
= link_to 'Back', groups_path
