%h1 Dashboard

#activities

  %span.feed
    =link_to '', rss_url(current_user), :class => 'rss'
  %div.title
    recent activities
    %span#activities_up.bullet_arrow_up.link{:style=>'display:none'}
    %span#activities_down.bullet_arrow_down.link

  %ul#activities_list.activities{:style=>'display:none'}
    -unless @activities.blank?
      -for activity in @activities
        - news_class = 'bullet_green' if activity.verb == 'accepted' or activity.verb == 'verified'
        - news_class = 'bullet_star' if activity.verb == 'created'
        - news_class = 'bullet_go' if activity.verb == 'closed'
        - toggling_class = toggling_class("darker")
        - news_class << " " + toggling_class unless toggling_class.blank?
        %li{:class=>news_class}
          =link_to "#{activity.user.login} #{activity.verb} #{activity.object.class.name}", generate_url_by_object(activity.object)
          %div.time
            = activity.time.to_s(:short)
    -else
      %li
        Nothing going on recently
%h3
  Open payments
-if @open_bills.count > 0
  %ul.payments
    - for bill in @open_bills
      - unless bill.creator == current_user
        %li
          = link_to bill.creator.login, user_path(bill.creator)
          requests
          = bill.payments.first.amount
          = currency_sign bill.currency
          for
          = bill.name
          |
          = link_to 'accept', accept_bill_path(bill), :method => 'post'
          |
          = link_to 'show bill', bill_path(bill)
      -else
        %li
          - for payment in bill.payments.open
            You request
            = payment.amount
            = currency_sign bill.currency
            for
            = bill.name
            from
            = link_to payment.payer.login, user_path(payment.payer)
            |
            = link_to 'show bill', bill_path(payment.bill)
- else
  #no_payments
    No open payments
%br
%hr

%h3
  Open transfers
-if current_user.transfers_to.open.count > 0
  %ul.payments
    - for transfer in current_user.transfers_to.open
      %li
        = link_to transfer.debitor.login, user_path(transfer.debitor)
        has sent you
        = transfer.amount
        = currency_sign transfer.currency
        |
        = link_to 'verify', verify_transfer_path(transfer), :method => 'post'
        |
        = link_to 'show transfer', transfer_path(transfer)
- else
  #no_payments
    No open transfers
%br
%hr

%h3
  Debts
-if current_user.debts.count > 0
  %ul.depts
    -for debt in current_user.debts
      %li
        You owe
        = link_to debt.creditor.login, user_path(debt.creditor)
        = debt.amount
        = currency_sign debt.currency
-else
  #no_depts
    No debts
%br
%hr

%h3
  Credits
-if current_user.credits.count > 0
  %ul.credits
    -for debt in current_user.credits
      %li
        = link_to debt.debitor.login, user_path(debt.debitor)
        owes you
        = debt.amount
        = currency_sign debt.currency
-else
  #no_depts
    No credits
%br
