%h1
  = @user.login
- if @user.id == current_user.id
  =link_to 'Change Settings', edit_user_path(@user)

%h2
  Memberships
= render :partial => '/groups/group', :collection => @user.groups

%br
- if @user.id == current_user.id
  %h2
    Statistics
  %h3
    Overall
  - @user.costs_by_category.each do |key, value|
    %strong
      = key
    = value
    %br
  %h3
    Last Week
  - @user.costs_by_category(:from => 1.weeks.ago).each do |key, value|
    %strong
      = key
    = value
    %br
  %h3
    Last Month
  - @user.costs_by_category(:from => 1.months.ago).each do |key, value|
    %strong
      = key
    = value
    %br
