%h1
  User
  = @user.login
- if @user.id == current_user.id
  =link_to 'Change Settings', edit_user_path(@user)

  %hr

%h2
  Memberships
= render :partial => '/groups/group', :collection => @user.groups

%br
- if @user.id == current_user.id
  %hr
  %h2
    Statistics
  %h3
    Last Week
  = image_tag "/users/"+@user.id.to_s+"/statistics?last_week"
  %br
  %h3
    Last Month
  = image_tag "/users/"+@user.id.to_s+"/statistics?last_month"
  %br
  %h3
    Overall
  = image_tag "/users/"+@user.id.to_s+"/statistics"
  %br
