- form_for(@bill, :class => 'panel', :selected => 'true', :title=> 'New bill') do |f|
  = f.error_messages
  %fieldset
    .row
      = f.label :category_name, 'Category'
      = f.text_field :category_name
      #bill_category_name_auto_complete.auto_complete
      = auto_complete_field :bill_category_name, :url=>{:controller=>'categories', :action=>'autocomplete'}

    .row
      = f.label :name
      = f.text_field :name

    .row
      = f.label :amount
      = f.text_field :amount

    .row
      = f.label :currency
      = currency_field(f, :currency, current_user.default_currency)

    .row
      = f.label :payers
      = text_field_tag 'payer'
      #payer_auto_complete.auto_complete
      = auto_complete_field :payer, :url=>{:action=>'get_payers'}, :after_update_element => 'add_element'

    = render :partial => 'payers'
  %a.whiteButton{:href=>'#', :type=>'submit'}
    Create
