%h1
  = '#' + @bill.id.to_s + ':'
  =h @bill.name

created by
= link_to @bill.creator.login, user_path(@bill.creator)
at
= @bill.created_at

%hr

- unless @bill.description.blank?
  %p
    =simple_format(h @bill.description)
  %hr

#payers
  %h2
    Payers
  %table
    - for payment in @bill.payments
      %tr
        %td{:class => (payment.accepted? ? "tick" : "no_icon")}
          = link_to payment.payer.login, user_path(payment.payer)
        %td.right
          = payment.amount
          = currency_sign payment.bill.currency
        - if payment.payer == current_user and not payment.accepted?
          %td.accept
            = link_to 'accept this payment', accept_bill_path(@bill), :method => 'post'
        - else
          %td
            &nbsp;
    %tr
      %td
        %strong
          total
      %td.total.right
        %strong
          = @bill.amount
          = currency_sign @bill.currency
      %td
        &nbsp;
%br
= link_to 'Back', bills_path
