%h1
  = '#' + @bill.id.to_s + ':'
  =h @bill.name

created by
= link_to @bill.creator.login, user_path(@bill.creator)
at
= @bill.created_at

%hr

- unless @bill.description.blank?
  %p
    =simple_format(h @bill.description)
  %hr

#payers
  %h2
    Payers
  %table
    - for payment in @bill.payments
      %tr
        %td{:class => (payment.accepted? ? "tick" : "no_icon")}
          = link_to payment.payer.login, user_path(payment.payer)
        %td.right
          = payment.amount
          = currency_sign payment.bill.currency
        - if payment.payer == current_user and not payment.accepted?
          %td.accept
            = link_to 'accept this payment', accept_bill_path(@bill), :method => 'post'
        - else
          %td
            &nbsp;
    %tr
      %td
        %strong
          total
      %td.total.right
        %strong
          = @bill.amount
          = currency_sign @bill.currency
      %td
        &nbsp;
%br
#show_log.log.link
  show log

#logs{:style=> 'display:none'}
  %hr
  %ul.news
    -for news in @news
      - news_class = 'bullet_green' if news.verb == 'accepted' or news.verb == 'verified'
      - news_class = 'bullet_star' if news.verb == 'created'
      - news_class = 'bullet_go' if news.verb == 'closed'
      %li{:class=>news_class}
        =link_to news.user.login , user_path(news.user)
        =news.verb
        =news.object.class.name
        %div.time
          = news.time.to_s(:short)
%br
%br
= link_to 'Back', bills_path
