%h1
  = '#' + @bill.id.to_s + ':'
  =h @bill.name

created by
= link_to @bill.creator.login, user_path(@bill.creator)
at
= @bill.created_at

%p
  = @bill.description

%br

#payers
  %strong
    Payers:
  %table
    - for payment in @bill.payments
      %tr
        %td
          = link_to payment.payer.login, user_path(payment.payer)
          - if payment.accepted
            (ok)
        %td
          = payment.amount
          = currency_sign payment.bill.currency
    %tr
      %td
        %strong
          total
      %td
        %strong
          = @bill.amount
          = currency_sign @bill.currency
%br
= link_to 'Back', bills_path
