%h1
  = '#' + @bill.id.to_s + ':'
  =h @bill.name

created by
= link_to @bill.creator.login, user_path(@bill.creator)
at
= @bill.created_at

%hr

- unless @bill.description.blank?
  %p
    =simple_format(h @bill.description)
  %hr

#payers
  %h2
    Payers
  %table
    - for payment in @bill.payments
      %tr
        %td{:class => (payment.accepted? ? "tick" : "no_icon")}
          = link_to payment.payer.login, user_path(payment.payer)
        %td.right
          = payment.amount
          = currency_sign payment.bill.currency
        - if payment.payer == current_user and not payment.accepted?
          %td.accept
            = link_to 'accept this payment', accept_bill_path(@bill), :method => 'post'
        - else
          %td
            &nbsp;
    %tr
      %td
        %strong
          total
      %td.total.right
        %strong
          = @bill.amount
          = currency_sign @bill.currency
      %td
        &nbsp;
%br
%a#show_log.log{:onclick=> 'Effect.BlindDown(\'logs\');$(\'show_log\').hide(); return false'}
  show log

#logs{:style=> 'display:none'}
  %hr
  %ul
    %li.bullet_star
      %span.time
        = @bill.created_at.to_s(:short)
      Bill created by
      = link_to_user @bill.creator

    -for payment in @bill.payments.closed
      -unless @bill.creator == payment.payer
        %li.bullet_green
          %span.time
            = payment.accepted_at.to_s(:short)
          Accepted by
          = link_to_user payment.payer
    - unless @bill.closed_at.blank?
      %li.bullet_go
        %span.time
          = @bill.closed_at.to_s(:short)
        Bill closed
%br
%br
= link_to 'Back', bills_path
