%h1
  = '#' + @bill.id.to_s + ':'
  =h @bill.name

created by
= link_to @bill.creator.login, user_path(@bill.creator)
at
= @bill.created_at.to_s
#category
  Category:
  = link_to @bill.category.name, @bill.category
%hr

- unless @bill.description.blank?
  %p
    =simple_format(h @bill.description)
  %hr

- if @bill.attachment.file?
  %div.attachment
    = link_to @bill.attachment.original_filename, @bill.attachment.url
  %hr

#payers
  %h2
    Payers
  %table.no_spacing
    - for payment in @bill.payments
      %tr{:class=>toggling_class("darker")}
        %td{:class => (payment.accepted? ? "tick" : "no_icon")}
          = link_to payment.payer.login, user_path(payment.payer)
        %td.right
          = payment.amount
          = currency_sign payment.bill.currency
        - if payment.payer == current_user and not payment.accepted?
          %td.accept
            = link_to 'accept this payment', accept_bill_path(@bill), :method => 'post'
        - else
          %td
            &nbsp;
    %tr
      %td
        %strong
          total
      %td.total.right
        %strong
          = @bill.amount
          = currency_sign @bill.currency
      %td
        &nbsp;
%br
#show_log.log.link
  show log

#logs{:style=> 'display:none'}
  %hr
  %ul.activities
    -for activity in @activities
      - activity_class = 'bullet_green' if activity.verb == 'accepted' or activity.verb == 'verified'
      - activity_class = 'bullet_star' if activity.verb == 'created'
      - activity_class = 'bullet_go' if activity.verb == 'closed'
      %li{:class=>activity_class}
        =link_to activity.user.login , user_path(activity.user)
        =activity.verb
        =activity.object.class.name
        %div.time
          = activity.time.to_s(:short)
%br
%br
- if @bill.creator == current_user
  %div.bill_delete
    = link_to 'delete this bill', @bill, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
= link_to 'Back', bills_path
