%h1
  Listing transfers

%h3 open
- for transfer in @open_transfers
  =transfer.debitor.login
  sent
  = transfer.amount 
  = currency_sign transfer.currency
  to
  =transfer.creditor.login
  |
  = link_to 'Show', transfer
  %br

%h3 closed
- for transfer in @closed_transfers
  =transfer.debitor.login
  sent
  = transfer.amount 
  = currency_sign transfer.currency
  to
  = transfer.creditor.login
  |
  = link_to 'Show', transfer
  %br
%br
= link_to 'New transfer', new_transfer_path
