%h1
  Transfer
  = '#' + @transfer.id.to_s + ':'

= link_to @transfer.debitor.login, user_path(@transfer.debitor)
has sent
= @transfer.amount
= currency_sign @transfer.currency
to
= link_to @transfer.creditor.login, user_path(@transfer.creditor)

- if @transfer.verified?
  #verified.tick
    Verified on
    = @transfer.verified_at.to_s
- else
  #verified.cross
    not verified
    - if @transfer.creditor == current_user
      %span.verify
      = link_to 'verify this transfer', verify_transfer_path(@transfer), :method => 'post'

%br
- if @transfer.debitor == current_user
  %div.bill_delete
    = link_to 'delete this transfer', @transfer, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
= link_to 'Back', transfers_path
