%h1
  Transfer
  = '#' + @transfer.id.to_s + ':'

= link_to @transfer.debitor.login, user_path(@transfer.debitor)
has sent
= @transfer.amount
= currency_sign @transfer.currency
to
= link_to @transfer.creditor.login, user_path(@transfer.creditor)

- if @transfer.verified
  #verified.tick
    Verified
- else
  #verified.cross
    not verified
%br
= link_to 'Back', transfers_path
