#title
  = link_to(image_tag("/images/logo_bg.png"), :controller => 'floatingbill')
#user
  = render "users/_user_bar"

-if logged_in?
  #menu
    %ul
      %li.home
        = link_to 'Dashboard', dashboard_user_path(current_user)
      %li.bill
        = link_to 'Bills', bills_path
      %li.transfer
        = link_to 'Transfers', transfers_path
      %li.group
        = link_to 'Groups', groups_path


-unless flash[:error].blank?
  #error
    = flash[:error]

-unless flash[:notice].blank?
  #notice
    = flash[:notice]
